.env
env
.idea
__pycache__
db.sqlite3
МОТИВАЦИЯ_detail.pdf
books/migrations/0001_initial.py
books/migrations/0002_initial.py
books/migrations/0003_commentbook_created_at_commentbook_updated_at.py
books/migrations/0004_rename_commentbook_comment.py
media/books_img/alifbe-kitobi-500x750.jpg
media/pdf_files/Atomic-Habits-.pdf
media/pdf_files/Atomic-Habits-_uZgspaL.pdf
users/migrations/0001_initial.py
users/migrations/0002_permission_role_customuser_roles.py
users/migrations/0003_alter_customuser_telegram_id.py
users/migrations/0004_remove_role_permissions_remove_customuser_roles_and_more.py
users/migrations/0005_customuser_role.py